html {
    font-size: 100%;
   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
}
body{
    font-family: Tahoma, sans-serif;
    font-size: 12pt;
    margin: 0;
}
body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    background-color: #ffffff;
}
.ummc_fon{
    background: url(../img/fon.png) repeat;
}
a{
    color: #600;
    text-decoration: none;
}
a:hover{
    outline: 0;
    color: #ff9900;
    text-decoration: none;
    text-decoration: underline;
}
a:active{
    outline: 0;
    color: #f90;
}
a:focus {
    outline: thin dotted #600;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.ummc_wrap{
    background: url(../img/shapka.png) repeat-x;
    height: 91px;
}
.ummc_logo{
    background: url(../img/black_background.png) no-repeat;
    padding-left: 60px;
    padding-top: 15px;
    width: 335px;
    height: 91px;
}
#UserName{
    float: right;
    font-size: 13pt;
    margin-right: 20px;
    margin-top: 20px;
}
.ummc_main_btn{
    background: #b0b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b0b0b0)); 
    background: -moz-linear-gradient(top, #e6e6e6, #b0b0b0); 
    border-top: 1px solid #fff;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    color: #FFF;
    font-size: 14px;
    moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    padding: 5px 18px;
    text-decoration: none;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    vertical-align: middle;
    webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
}
.ummc_gray_fill{
    background: #b0b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e6), to(#b0b0b0)); 
    background: -moz-linear-gradient(top, #e6e6e6, #b0b0b0); 
}
.ummc_gray_fill:active{
    background: #737373;
    border-top-color: #737373;
}
.ummc_orange_fill{
    background: #e6850e; 
    background: -webkit-gradient(linear, left top, left bottom, from(#fac94d), to(#ff9900)); 
    background: -moz-linear-gradient(top, #fac94d, #ff9900); 
}
.ummc_orange_fill:active{
    background: #ffd500;
    border-top-color: #ffd500;
}
.ummc_home_btn{
    position: absolute;
    right: 130px;
    top: 45px;
}
.ummc_exit_btn{
    position: absolute;
    right: 20px;
    top: 45px;
}
.ummc_right{
    float: right;
    text-align: right;
}

.ummc_adres{ 
    display: inline-block;
}
.ummc_adres_all{ 
    width: 100%;
    overflow: hidden;
    border: 0;
}
.ummc_group_text{
   margin: 25px;
   margin-bottom: 40px;
}
.ummc_group{
   margin-bottom: 40px;
   text-align: center;
}
#mainScreen{
    padding-top: 0px;
    padding-bottom: 40px;
}
#ummc_menu{
    display: inline-block;
    background: gray;
    background: url(../img/stroka.png) repeat-x;
    width: 100%;
    overflow: hidden;
    padding-left: 0px;
    border: 0;
    min-height: 33px;
}
.ummc_menu_btn{
    background-image: url(../img/knopka.png);
    color: #fff;
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    height: 17px;
    margin-left: -30px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    width: 172px;
}
.ummc_status_yellow{
    padding: 4px;
    background: #ffcc00; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ffff66), to(#ffcc00)); 
    background: -moz-linear-gradient(top, #ffff66, #ffcc00); 
    box-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.ummc_status_green{
    padding: 4px;
    background: #66cc00; 
    background: -webkit-gradient(linear, left top, left bottom, from(#ccff66), to(#66cc00)); 
    background: -moz-linear-gradient(top, #ccff66, #66cc00); 
    box-shadow: rgba(0,0,0,.2) 0 1px 0;
}
.ummc_menu_first_btn{
    margin-left: -55px;
}
.ummc_menu_btn:hover{
    color: #39c;
}
.ummc_menu_btn:active{
    background-image: url(../img/knopka_a.png);
}
.ummc_info_block{
    display: inline-block;
    moz-border-radius: 10px;
    padding-right: 10px;
    vertical-align: top;
    width: 300px;
}
.imgLine{
    height: auto;
    min-height: 100%;
    text-align: center;
}
ul{
    text-align: left;
}
li{
    color: #666;
}
.ummc_badge{
    background-color: #ff782d;
    box-shadow: rgba(0,0,1,1) 0 1px 1px;
    color: #fff;
    float: right;
    font-size: 11.844px;
    padding: 2px 9px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    white-space: nowrap;
}
.ummc_badge_gray{
    background-color: #999;
}
.input-append{
    display: inline-block;
    float: right;
}
#ummc_find_fld{
    width: 220px;
}
.ummc_btn{
    margin-right: 0;
}
#ummc_footer{
    background: url(../img/footer.png) repeat-x;
    bottom: 0;
    color: #fe9c06;
    font-size: 14pt;
    height: 26px;
    margin-top: 10px;
    padding-top: 6px;
    position: fixed;
    text-align: center;
    width: 100%;
}
.ummc_menu_collapse{
    display: none;
}
.ummc_absolute{
    position: absolute;
}
.ummc_curve{
    border-radius: 10px;
    khtml-border-radius: 10px;
    moz-border-radius: 10px;
    webkit-border-radius: 10px;
}
.ummc_small_curve{
    border-radius: 5px;
    khtml-border-radius: 5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
}
.ummc_middle_curve{
    border-radius: 8px;
    khtml-border-radius: 8px;
    moz-border-radius: 8px;
    webkit-border-radius: 8px;
}
.button3:active{
    background: #ffd500;
    border-top-color: #ffd500;
}

/*login page begin */
.ummc_login_top{
    width: 100%;
    height: 150px;
}
#mwp_logo{
    float: left;
    padding-left: 10px;
}
.ummc_login_box{
    color: #000;
    float: left;
    font-size: 1.5em;
    padding-top: 50px;
    width: 290px;
    margin-left: 20px;
}
.ummc_login_frm{
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    bottom: 50px;
    float: left;
    font-size: .7em;
    width: 100%;
}
.ummc_login_btn{
    background: 0 to(#ff9900));
    background-color: #f90;
    border-top: 1px solid #fff;
    color: #FFF;
    font-family: 'Lucida Grande', Helvetica, Arial, Sans-Serif;
    font-size: 14px;
    padding: 5px 18px;
    right: 20px;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    top: 45px;
    webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
}
p{
    margin: 0 0 10px;
}

small{
    font-size: 85%;}

strong{
    font-weight: bold;}

em{
    font-style: italic;}

cite{
    font-style: normal;}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0;
    font-family: inherit;
    font-weight: bold;
    line-height: 1;
    text-rendering: optimizelegibility;}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    line-height: 1;} 
h1{
    font-size: 36px;
    line-height: 40px;}
h2{
    font-size: 30px;
    line-height: 40px;}
h3{
    font-size: 24px;
    line-height: 40px;
    color: #ff782d;
    text-shadow: rgba(0,0,0,.6) 1px 1px 0;}
h4{
    font-size: 18px;
    line-height: 20px;}
h5{
    font-size: 14px;
    line-height: 20px;}
h6{
    font-size: 12px;
    line-height: 20px;}
h1 small{
    font-size: 24px;}
h2 small{
    font-size: 18px;}
h3 small{
    font-size: 14px;}
h4 small{
    font-size: 14px;}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
#ummc_tr:hover{
    background-color: #ffcc99;
}
.blok_zadanie{
  width: 130px;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #999;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table tbody + tbody {
    border-bottom: 2px solid #999;
}
.table-condensed th,
.table-condensed td {
    padding: 4px 5px;
}
@media (max-width: 780px) {
.ummc_adres1{ 
    width: 250px;
}
.ummc_login_top{
    height: 150px;
}
  #mwp_logo{
    margin-left: 0px;
    margin-top: 0px;
    padding-left: 0;
}
  .zadanie{width: 120px; }
 .ummc_input_size{
    width: 280px;
}}

@media (max-width: 710px) {
.ummc_login_top{
    display: none;
}
.ummc_login_box{
    padding-top: 30px;
}
#mwp_logo{
    margin: 0;
    padding: 0;
    top: 230px;
    left: 100px;
    width:200px;
    position: absolute;
    -moz-transform: matrix(-1, 0, 0, 1, 0, 0);
    -webkit-transform: matrix(-1, 0, 0, 1, 0, 0); 
    -o-transform: matrix(-1, 0, 0, 1, 0, 0); 
    -ms-transform: matrix(-1, 0, 0, 1, 0, 0); 
}
/*login page end */
.ummc_logo{
    display: none;
}
#ummc_menu{
    max-height: 33px;
    overflow: hidden;
}
#ummc_menu:hover{
    max-height: 400px;
    overflow: auto;
}
.ummc_menu_btn{
    background-color: #999;
    background-image: none;
    display: block;
    margin-left: 0px;
    padding-left: 0px;
    width: 100%;
    text-align: left;
}
.ummc_menu_btn:hover{
    background-color: #ff782d;
    color: #fff;
}
.ummc_menu_btn:active{
    background-color: #7f7f7f;
    background-image: none;
    color: #fff;
}
.ummc_menu_collapse{
    display: block;
    background-image: url(../img/knopka.png);
    color: #fff;
    display: inline-block;
    font-family: Tahoma, sans-serif;
    font-size: 13px;
    height: 17px;
    margin-left: -55px;
    padding-bottom: 8px;
    padding-top: 8px;
    text-align: center;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    width: 172px;
}}